 
 @media screen and (min-width: 1000px) { 
    
    
 *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.title{
    height: 100vh;
    width: 100%;
    background-image: url(images/title1.png);
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    display: block;
}

.title h1{
    color: #fff;
    letter-spacing: 0.5em;
    font-size: 104px;
    text-align: right;
    padding-top: 80vh;
}

.koronira {
    height: 18.5vh;
}

.rogo img{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 100px auto;
    width: 50%;
}

.moguma img{
    object-fit: cover;
    width: 40%;
    display: block;
    margin: 50px auto;
}

.about {
    height: 50vh;
}

.about h1{
    text-align: center;
    letter-spacing: 1em;
    font-size: 36px;
}

.about p{
    text-align: center;
    margin: 50px 400px;
}

.fuwa {
    opacity: 0;
    transform: translateY(20px);
    transition: all 3s;
    margin-top: 100px;
}

#backimage {
    background: url(images/title2.png) center/cover;
    height: 300px;
    background-attachment: fixed;
    margin-top: 100px;
}


footer{
    background: #000;
}

footer p {
    text-align: center;
    color: #fff;
}
}